:root{
    --highlighter-color : transparent;
}

span.highlight{
    background-color: var(--highlighter-color) !important;
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    opacity: 0;
    animation: show .5s ease-in-out forwards;
    -webkit-animation: show .5s ease-in-out forwards;
}

@keyframes show {
    to{
        opacity: 1;
    }
}